.porco{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header{
    font-size: larger;
    text-align: center;
    font-family: Pangolin
}
body {
    font-family: Pangolin;
  }
.container {
    padding: 16px;
    width: 50%;    
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button {
    background-color: #d32f2f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Pangolin   
}
.psw{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cancelbtn{
    background-color: #ff9800
}